@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

/*
*************************************************************************************************************
**TABLE OF CONTENTS
*************************************************************************************************************
**BODY
**CONSTANTS
**HEADER CSS
**SERVICES SECTION
**PRODUCT FILTER
*/

* {
	margin: 0;
	padding: 0;
}
/*Constants*/
.col-md-12 {
	width: 100%;
}
.col-md-6 {
	width: 50%;
}
.col-md-4 {
	width: 33.33%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66%;
}
.max-width {
	width: 300px;
	height: 280px;
}
body {
	background: #333 url('../images/background.png');
	font-family: 'Raleway', sans-serif;
}


/*Header CSS*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	width: 100%;
	position: fixed;
}
li, a {
	display: inline-block;
	padding: 7px;
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}
a:hover {
	color: rgb(113, 199, 113);
	transition: 0.8s;
}
.active {
	background-color: green;
}
.logo {
	float: left;
	padding-right: 500px;
	font-size: 20px !important;
}
.navigation {
	float: right;
}
header {
	height: 500px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-color: transparent;
	background-image: url('../images/bg1.jpg');
	-webkit-box-shadow: inset 0 0 10px 10px #000;    
    -moz-box-shadow: inset 0 0 10px 10px #000;
    box-shadow: inset 0 0 10px 10px;
}
.welcome {
	font-size: 40px;
	color: #fff;
	padding-top: 250px;
	padding-left: 200px;
}
span {
	font-size: 40px;
	padding-left: 20px;
	padding-bottom: 500px;
}


/*SERVICES*/
.services {
	width: 960px;
	background: rgba(0,0,0,0.2);
	box-shadow: 0px 2px 10px #888888;
	height: 430px; 
	padding-left: 15%;
	border-radius: 5px;
	margin: auto;
	position: relative;
	clear: both;
}
.title {
	text-align: center !important;
	text-decoration: underline;
	
	padding-left: 20px;
}
.service-title {
	font-size: 50px;
	padding-left: 30%;
	font-family: 'Raleway', sans-serif;
	text-decoration: underline;
	text-decoration-color: rgb(37, 199, 37);

}

.service-items {
	padding-top: 100px;
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 10px;
}
.image1 {
	border-radius: 50%;
	width: 200px !important;
	height: 180px !important;
	padding: 10px;
} 
.btn-service {
	width: 80px;
	height: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 0;
	margin: auto;
	cursor: pointer;
	border: 0;
	background:rgb(1, 29, 1);
	color: #eaeaea;
}
.btn-service:hover {
	background: rgb(24, 173, 24);
	transition: 0.8s;
}


/* THE PRODUCT FILTER */
.top-deals {
	padding-top: 50px;
}
.product-filter {
	display: flex;
	background-color: #333;
	height: 50px;
}
.product-filter h1 {
	flex-grow: 1;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 35px;
	color: #fff;
}
.sort {
	display: flex;
	padding-top: 10px;
}
.collection-sort {
	display: flex;
	flex-direction: column;
}
.products {
	display: flex;
	flex-wrap: wrap;
}
.product-card {
	padding: 2%;
	flex-grow: 1;
	flex-basis: 16%;
	display: flex;
	flex: 1 16%;
	display: flex;
	flex-direction: row;
}
.product-image img {
	max-width: 100%;
}
.product-info {
	margin-top: auto;
	padding-top: 20px;
	align-items: center;
	font-size: 20px;
}
.btn-view {
	display: block;
	background: #6ab04c;
	text-align: center;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
    transition: 0.3s;
    text-decoration: none;
}
.products .product-card:first-child,
.products .product-card:nth-child(2) {
	flex: 2 46%;
}

@media (max-width: 920px) {
	.product-card {
		flex: 1 21%;
	}
}
@media (max-width: 600px) {
	.product-card {
		flex: 1 46%;
	}
}
@media (max-width: 480px) {
	.product-filter {
		flex-direction: column;
	}
	.sort {
		align-self: flex-start;
	}
}

footer{
	width: 100%;
	height: auto;
	margin: auto;
	background-color: #000;
	padding: 20px 0px;
	color: #fff;
	text-align: center;

}


















/* Different Screen */
@media (max-width: 1000px){
	.header {
		text-align: left;
	}
}
@media (min-width: 1000px){
	.services {
		margin-right: 100px;
	}
}
