/*
**TABLE OF CONTENTS
**BODY
**CONSTANTS
**HEADER CSS
**SERVICES SECTION
*/

* {
	margin: 0;
	padding: 0;
}
/*Constants*/
.col-md-12 {
	width: 100%;
}
.col-md-6 {
	width: 50%;
}
.col-md-4 {
	width: 33.33%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66%;
}

/*Header CSS*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	width: 100%;
	position: fixed;
}
li, a {
	display: inline-block;
	padding: 7px;
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}
.active {
	background-color: green;
}
.logo {
	float: left;
	padding-right: 500px;
	font-size: 20px !important;
}
.navigation {
	float: right;
}
header {
	height: 500px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
}
.welcome {
	font-size: 40px;
	color: #fff;
	padding-top: 250px;
	padding-left: 200px;
}


/*SERVICES*/
.services {
	padding-top: 40px;
	padding-left: 50px;
	/*background: grey;*/
	height: 400px;
}
.title {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: green;
}
.service-title {
	font-size: 50px;
}
.service-items {
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	text-align: center;
}